//Variables de couleurs
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;

//Mixins pour le responsive design (tablettes et ordinateurs)
@mixin for-tablets {
    @media (min-width: 625px) { @content; }
}
@mixin for-desktop {
    @media (min-width: 1024px) { @content; }
}

//Polices spécifiques
@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot');
    src: url('roboto.eot?#iefix') format('embedded-opentype'),url('roboto.woff') format('woff'),url('roboto.ttf') format('truetype'),url('roboto.svg#roboto') format('svg');
}

//Corps de la page
body {
    font-family: Roboto, Arial, serif ;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Bloc contenant la page de menu
.bloc_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

//Haut de page
.header {
    &__container {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
    }
    &__logo {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__button {
        border: none;
        background-color: white;
        font-size: 25px;
        margin-top: 18px;
        cursor: pointer;
        color: black;
    }
}

//Partie principale de la page 
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

//La partie contenant les différents menus 
.menus {
    background-color: ghostwhite;
    &__image {
        overflow: hidden;
        width: 100%;
        position: relative;
        margin: 0;
        color: black;
        cursor: pointer;
        @include for-tablets {
            height: 400px;
            object-fit: cover;
        }
        @include for-desktop {
            height: 400px;
            object-fit: cover;
        }
    }
}

//Partie de chaque menu 
.menu {
    padding: 15px 15px 10px 15px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-40px);
    transition-duration: 0.4s;
    &__title {
        display: flex;
        justify-content: space-between;
        @include for-desktop {
            justify-content: center;
        }
        &__text {
            font-family: "Shrikhand", cursive;
            padding-bottom: 10px;  
        }
        &__hearts {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 55px;
            width: 50px;
            margin-top: 12px;
            @include for-desktop {
                margin-left: 30px;
            }
            .fa-heart {
                font-size: 1.8em;
                cursor: pointer;
            }
            .favorite__ico {
                position: absolute;
                background-color: ghostwhite;
                transition: opacity 1000ms ease-in-out;
                font-weight: 400;
                &:hover {
                    opacity: 0; 
                }
            }
            .favorite__ico--color {
                font-weight: 900;
                background: linear-gradient(#ff79da, #9356dc);
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
    &__button {
        width: 50%;
        border-radius: 45px;
        padding: 17px 0px 17px 0px;
        background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
        border: none;
        color: white;
        margin: auto;
        @include for-tablets {
            width: 30%;
        }
        @include for-desktop {
            width: 20%;
        }
        &:hover {
            opacity: 0.8;
            box-shadow: 2px 4px 15px #787878;
        }
    }
    //Les différents plats par menu
    .buttons {
        padding-bottom: 30px;
        @include for-desktop {
            width: 320px;
        }
        &__starter {
            animation-name: meal-slide;
            animation-delay: 2s;
        }
    } 

    h2 {
        margin: 0;
        font-size: 1em;
        font-weight: normal;
    }
    //Sous-lignage de couleur verte
    .underline {
        width: 40px;
        height: 0.2em;
        background-color: #99e2d0;
        margin: 5px 0px 10px 0px;
        padding: 0;
        margin-left: 0.5vw;
    }
}

//Liste des plats (entrées, plats de résistance et desserts
.meals {
    @include for-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.meal {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color    : white;
    border-color: transparent;
    margin-bottom: 20px;
    text-align: start;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 2000ms;
    cursor: pointer;
    animation: meal-slide .6s;
    animation-timing-function: cubic-bezier(.5, 1.58, .34, .82 );
    animation-fill-mode: both;
    transform:scale(0);
    &:hover {
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 44%) 0px 6px 10px;
        //Animation de sélection
        & .meal__check {
            opacity: 1;
            width: 70px;
            transition: width .6s, opacity .6s;
        } 
        //Icone de sélection
        & .fa-check-circle {
            transform: rotate(0deg);
            transition: transform 1s;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 7px 0px 0px 10px;
        width: 60%;
        &__bold {
            margin: 7px 0px 0px 0px;
            font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }   
        &__single {
            margin: 5px 0px 10px 0px;
            font-size: 0.9em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
    }
    &__price {
        font-size: 0.9em;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: 15px;
    }
    &__check {
        background-color: #99e2d0;
        width: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        
    }
    .fa-check-circle {
        font-size: 25px;
        color: white;
        transform: rotate(180deg);
    }
}

//Pied de page
footer {
    width:100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type:none;
    background-color: #3B3B3B;
    color:white;
    padding-left: 20px;
    &__list {
        list-style-type: none;
        padding: 0;
        line-height: 0.8em;
    }
    &__title {
        font-family: 'Shrikhand', cursive;
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    &__contact {
        text-decoration: none;
        color: white;
    }
    
    .fa-utensils {
        padding-right: 6px;
    }
}

//Keyframe pour l'animation d'apparition en cascade des différents plats
@keyframes meal-slide {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}  

//La boucle @for a répété dix fois le bloc de code,
//en changeant la valeur de $i (appelée indice de la boucle)
//à chaque itération et en utilisant l'index comme suffixe pour le nom --meal
@for $i from 1 to 11 {
    .meal-#{$i} {
        animation-delay: #{$i/11}s;
    }
}